{{#if addNewQuestion}}
  <h4>How can others support you?</h4>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Name: </label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="ask">Question: </label>
          {{input value=ask id="ask"}}
        </div>

        <div class="form-group">
          <label for="note">Note/More: </label>
          {{input value=note id="note"}}
        </div>

        <button class="btn btn-info btn-sm" {{action 'saveQuestion'}}>Ask</button>
      </form>
    </div>
{{else}}
  <button class="btn btn-info btn-lg" {{action 'questionFormShow'}}>Ask a Question</button>
{{/if}}
{{yield}}
