{{yield}}
<h2>{{question.author}} asks:</h2>
<h3>{{question.ask}}</h3>
{{#if isNoteShowing}}
  <h3>{{question.note}} <button class="btn btn-warning btn-xs" {{action 'noteHide'}}>less</button></h3>
{{else}}
  <button class="btn btn-info btn-xs" {{action 'noteShow'}}>more</button>
{{/if}}<br>
<br>
{{update-question question=question updateQuestion="updateQuestion"}}
<button class="btn btn-default btn-xs" {{action 'destroyQuestion' question}}>delete</button>
<br>
<br>
<h3> Answers to {{question.author}}'s question:</h3>
<ul>
  {{#each question.answers as |answer|}}
    <li>
      <h4>{{answer.author}} says: {{answer.content}} | {{format-date answer.date_added}}</h4>
    </li>
  {{/each}}
</ul>
<br>
{{new-answer question=question saveAnswer="saveAnswer"}}
<br>
