<h3>{{question.author}} asks:</h3>
<h4>{{question.ask}}</h4>
<h4>{{question.note}}</h4>
<br>
<ul>
  {{#each model as |answer|}}
    {{new-answer answer=answer}}
  {{/each}}
</ul>
<h3>Do you have an answer for {{question.author}}?</h3>
{{new-answer saveAnswer="saveAnswer" question=model}}
<br>
{{yield}}
