{{#if updateQuestionForm}}
  <h3>Update {{question.author}}'s question</h3>
    <div>
      <form>
        <div class="form-group">
          <label for="author">Name: </label>
          {{input value=author id="author" placeholder=question.author}}
        </div>

        <div class="form-group">
          <label for="ask">Question: </label>
          {{input value=ask id="ask" placeholder=question.ask}}
        </div>

        <div class="form-group">
          <label for="note">More/Note: </label>
          {{input value=note id="note" placeholder=question.note}}
        </div>
          <button class="btn btn-info btn-sm" {{action 'updateQuestion' question}}>Save changes</button>
      </form>
    </div>
{{else}}
    <button class="btn btn-default btn-xs" {{action 'updateQuestionForm'}}>Update</button>
{{/if}}

{{yield}}
